<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <title>
    CONTACT BOOK
  </title>
  <link href="ContactBook.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="ContactBook.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <script src="ContactBook.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class=".container-fluid">
      <h2> PERSONAL CONTACT FORM MADE IN ANGULAR</h2>
   <div class="wrapper">
    <div class="contacts">
      <table>
        <tr>
          <th>Sr No</th>
          <th>FIRST NAME</th>
          <th> EMAIL </th>
          <th> CONTACT </th>
        </tr>
        <tr ng-repeat="x in contactArrey track by $index" >
          <td>{{$index+1}}</td>
          <td>{{x.fName}}</td>
          <td>{{x.email}}</td>
          <td>{{x.contact}}</td>
          
        </tr>


      </table>
    </div>


    <div class="addContacts">
      <div>
        <div   class="form-group">
          <label> FIRST NAME :</label>
          <input class="form-control"  type="text" ng-model="contact.fName" />
        </div>
        <div   class="form-group">
          <label> SECOND NAME :</label>
          <input class="form-control" type="text" ng-model="contact.sName" />
        </div>

        <div  class="form-group">
          <label> EMAIL :</label>
          <input class="form-control" type="email" ng-model="contact.email" />
        </div>

        <div   class="form-group">
          <label> Phone Number :</label>
          <input  class="form-control" type="text" ng-model="contact.number" />
        </div><br><br>
        <div>
          <button style="position: relative;
          left: 36%;" class="btn btn-default" ng-click="saveContact(contact)">SAVE</button>
        </div>

      </div>

    </div>
  </div>
  </div>


</body>

</html>
